<% provide(:title, "Top") %>
<div class="center jumbotron" style="margin-top: 40px;">
  <h1>ハイクラス求人サイト</h1>
  <p>このアプリケーションでは、登録されたユーザーのみ高収入の求人情報を閲覧することができます。</p>
  <%= link_to "ユーザー登録", signup_path, class: "btn btn-lg btn-primary" %>
</div>