<% provide(:title, "Top") %>
<div class="center jumbotron">
  <h1>ハイクラス求人サイト</h1>
  <p>このアプリケーションでは、登録されたユーザーのみ高収入の求人情報を閲覧または応募することができます。</p>
  <%= link_to "ユーザー登録", signup_path, class: "btn btn-lg btn-primary" %>
</div>